.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: rgb(112, 111, 109);
  height: 100vh;
}

.logo-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-decoration: none;
}
.menuItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.sidebarLinks {
  text-decoration: none;
  color: white;
  padding: 10px;
}
.sidebarLinks:hover {
  text-decoration: none;
  color: white;
  padding: 10px;
  background-color: rgb(102, 99, 95);
  border-radius: 10px;
  width: 100%;
  text-align: center;
}
.activeSidebarLinks {
  text-decoration: none;
  color: black;
  padding: 20px 10px;
  width: 100%;
  text-align: center;
  background-color: rgb(246, 238, 228);
  border-radius: 10px;
}
