@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: white;
  background-color: #242424;
}
* {
  padding: 0px;
  margin: 0px;
}

/* height: 100%;
  width: 100%; 
/* overflow-x: hidden; */
/* overflow-y: auto; */
/* border: solid;
  border-radius: 1px;
  border-color: red; */
